@import url('https://fonts.googleapis.com/css2family=Poppins&display=swap')
.box{
 background: blue;
 width: 500px;
 height: 100px;
}
body{
    display: grid;
    height:100%;
    width:100%;
    place-items:center;
    background:-webkit-linear-gradient(left,#a445b2,#fa4299);
}
::selection{
    background:#fa4299;
    color: #fff;
}
.wrapper{
    overflow: hidden;
    max-width:390px;
    backgound: #fff;
    padding: 30px;

}

